name: Check if build passes and integration tests are successful

on:
  push:
    branches-ignore:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Gradle build with cache
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: ":app:shadowJar"
      - name: Run integration tests
        id: tests
        uses: data-catering/insta-integration@v1
        with:
          data_caterer_version: 0.11.11
      - name: Print results
        run: |
          echo "Records generated:         ${{ steps.tests.outputs.num_records_generated }}"
          echo "Successful validations:    ${{ steps.tests.outputs.num_success_validations }}"
          echo "Failed validations:        ${{ steps.tests.outputs.num_failed_validations }}"
          echo "Number of validations:     ${{ steps.tests.outputs.num_validations }}"
          echo "Validation success rate:   ${{ steps.tests.outputs.validation_success_rate }}"