name: Check if build passes and integration tests are successful

on:
  push:
    branches-ignore:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          java-package: jdk
          architecture: x64
          distribution: oracle
      - name: Gradle build with cache
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: ":app:shadowJar"
      - name: Run gradle integration tests
        run: |
          ./gradlew :app:integrationTest --info
